<template>
  <button
    v-if="!isPinned"
    @click="pinClick(pin, image)"
    class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
    Pin
  </button>
</template>

<script>
import { computed } from 'vue';

import useApiImagePin from '../hooks/useApiImagePin';
import User from '../models/User';

export default {
  props: ['image'],
  methods: {
    pinClick(pin, image) {
      pin(User.instance.id, image);
    },
  },
  setup(props) {
    const {
      status,
      pin,
    } = useApiImagePin();

    const isPinned = computed(() => props.image.pinned || status.value === 'success');

    return {
      isPinned,
      status,
      pin,
    };
  },
};
</script>
